{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}


{% block title %}
Best Movie Actors
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Here you can create new wallet,</h1>

      <p class="lead">Please keep a copy your all id and information! it is not possible to extract them for ever!</p>

      {{ wtf.quick_form(form) }}

      <p class="pt-1"><strong>{{ message }}</strong></p>
      <p class="pt-1"><strong>your permanet id : {{ id }}</strong></p>
      <p class="pt-1"><strong>your permanet key : {{ wallkey }}</strong></p>

    </div>
  </div>
</div>

{% endblock %}